h1 {
  font-size: 60pt;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: purple;
  text-shadow: 5px 5px pink;
}

ul {
  font-size: 20pt;
  text-align: center;
  color: turquoise;
  font-weight: lighter;
}

body {
  background-color: yellow;
}

li {
  font-family: fantasy;
  align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
